<!DOCTYPE html>
<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form-question">
            <div class="card-header">
                <h3>Pergunta</h3>
            </div>
            <div class="card-body">
                <hr>
                <form method="post" action="/jogo/alterar">
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" placeholder="Título" value="<%= game.title %>" class="form-control">
                    <br><label for="year">Ano</label>
                    <input type="number" id="year" name="year" placeholder="Ano" value="2023" step="1" value="<%= game.year %>" class="form-control">
                    <br>
                    <input type="hidden" name="id" value="<%= game.id %>">
                    <button class="btn btn-success">Salvar</button>
                    <a href="/" class="btn btn-danger" >Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
